<footer class="footer">
  <div class="footerlinks">
    <div class="section-left">
      <a href="/games/">All games</a>
      <a href="/Andrew-Weeks-Resume.pdf">PDF resume</a>
      <a href="/about/">About</a>
    </div>
    <div class="section-right">
      <a href="/blog">Blog</a>
      <a href="/Andrew-Weeks-CV.pdf">CV</a>
      <a href="/contact/">Contact</a>
    </div>
  </div>
  <p>&copy; {{site.username}}</p>
</footer>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
