<footer class="footer">
  <div class="footerlinks">
    <div class="section-left">
      <a href="/contact/">Contact</a>
      <a href="/about/">About</a>
      <a href="https://ajweeks.wordpress.com/">Blog</a>
    </div>
    <div class="section-right">
      <a href="/AJ-Weeks-resume.pdf">
        <!-- <img src="/assets/img/pdf.svg" width="20px" style="padding-right: 3px" /> -->
        PDF resume
      </a>
      <a href="/games/"> Older games</a>
    </div>
  </div>
  <p>&copy; {{site.username}}</p>
</footer>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
