<footer class="footer">
  <div class="footerlinks">
    <div class="section-left">
      <a class="underline" href="/games/">All games</a>
      <a class="underline" href="/Andrew-Weeks-Resume.pdf">PDF resume</a>
      <a class="underline" href="/about/">About</a>
    </div>
    <div class="section-right">
      <a class="underline" href="/blog">Blog</a>
      <a class="underline" href="/Andrew-Weeks-CV.pdf">CV</a>
      <a class="underline" href="/contact/">Contact</a>
    </div>
  </div>
  <p>&copy; {{site.username}}</p>
  <a rel="me" href="https://mastodon.gamedev.place/@ajweeks"></a>
</footer>
<script src="/assets/js/sweet-scroll.min.js"></script>
<script src="/assets/js/main.js"></script>
{% include google-analytics.html %}
