<div id="page-header">
  <div class="row content">
    <a href="/" style="color: #fff; text-decoration: none"><span class="site-title">{{site.username}}</span></a>

    <div class="icons-header">
      <div class="tooltip">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
      </div>
      <div class="tooltip">
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="tooltip">
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
    </div>
    <!-- <a class="link" href="/Andrew-Weeks-Resume.pdf">
      <img src="/assets/img/pdf.svg" width="28px" height="28px" style="padding-right: 3px" />
      PDF Resume
    </a> -->
  </div>

  <!-- <div class="content" style="column-count: 2">
    <div class="shrinker">
      <h1>
        <a href="/" style="color: #fff; text-decoration: none"><span class="site-title">{{site.username}}</span></a>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
    </div>
    <div>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <a class="link" href="/Andrew-Weeks-Resume.pdf">
        <img src="/assets/img/pdf.svg" width="28px" height="28px" style="padding-right: 3px" />
        PDF Resume
      </a>
    </div>
  </div> -->
</div>
