<div class="container">
  <div class="user-details">
    <h3>Featured Projects</h3>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="render engine" src="{{ "/assets/img/render-api-04.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>API-agnostic Rendering Engine</h5>
      <ul>
        <li>Personal project</li>
        <li>C++, Vulkan, OpenGL, D3D11</li>
      </ul>
      <p>A project focused on abstracting away the details of any particular graphics API. Currently supports Vulkan, OpenGL, and D3D11</p>
      <a class="project-link" href="/rendering-engine">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="tangent screenshot" src="{{ "/assets/img/tangent-01.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Single player racing game</h5>
      <ul>
        <li>Personal project</li>
        <li>C++, DX11, HLSL</li>
      </ul>
      <p>A single-player racing game made in about a week. Utlizes geometry shaders to generate meshes based on a Bézier Curve</p>
      <a class="project-link" href="/tangent">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="rubiks cube simulator" src="{{ "http://i.imgur.com/r5ILceh.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Redshift</h5>
      <ul>
        <li>Group project</li>
        <li>Unity, C#</li>
      </ul>
      <p>A spline racing game made over the course of a semester</p>
      <a class="project-link" href="/redshift">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="rubiks cube simulator" src="{{ "/assets/img/hexahover-01.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>HexaHover</h5>
      <ul>
        <li>Game jam entry</li>
        <li>Unity, C#</li>
      </ul>
      <p>An entry into the Ludum Dare game jam competition made with two friends in 72 hours</p>
      <a class="project-link" href="/hexahover">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="super mario world" src="{{ "/assets/img/SMW_07.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Super Mario World Remake</h5>
      <ul>
        <li>Personal project</li>
        <li>C++, Box2D</li>
      </ul>
      <p>My first real game in C++, an attempt at imitating one of the most well-known games of all time</p>
      <a class="project-link" href="/games/SuperMarioWorld/">Check it out</a>
    </div>
  </div>

</div>
