<div class="container">
  <div class="user-details">
    <h3>Featured Projects</h3>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <a href="/flex-engine"><img alt="flex engine" src="assets/img/flex-engine-19.png" /></a>
    </div>
    <div class="six columns">
      <h5>Flex Engine</h5>
      <ul>
        <!-- <li style="font-size: 0.9em; font-weight: bold">Personal project</li> -->
        <li>C++, Vulkan, OpenGL</li>
      </ul>
      <p>A personal game engine which supports Vulkan and OpenGL</p>
      <a class="project-link" href="/flex-engine">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <a href="/new-atlas"><img alt="new atlas" src="/assets/img/new-atlas-thumb-02.jpg" /></a>
    </div>
    <div class="six columns">
      <h5>New Atlas</h5>
      <ul>
        <li>C++, Unreal Engine 4</li>
      </ul>
      <p>Real-time strategy game made with five team members over a few months</p>
      <a class="project-link" href="/new-atlas">Check it out</a>
    </div>
  </div>

    <!--
      <div class="row user-projects">
        <div class="six columns images">
          <a href="/tangent"><img alt="tangent" src="/assets/img/tangent-01.jpg" /></a>
        </div>
        <div class="six columns">
          <h5>Tangent</h5>
          <ul>
            <li>C++, DirectX 11, HLSL</li>
          </ul>
          <p>A single-player racing game made in about a week. Utlizes geometry shaders to generate meshes based on a Bézier Curve</p>
          <a class="project-link" href="/tangent">Check it out</a>
        </div>
      </div> -->

      <!-- <div class="row user-projects">
        <div class="six columns">
          <a href="/redshift"><img alt="redshift" src="assets/img/redshift-r5ILceh.png" /></a>
        </div>
        <div class="six columns">
          <h5>Redshift</h5>
          <ul>
            <li>C#, Unity</li>
          </ul>
          <p>A spline racing game made over the course of three months with three other team members</p>
          <a class="project-link" href="/redshift">Check it out</a>
        </div>
      </div> -->

        <div class="row user-projects">
          <div class="six columns">
            <a href="/blog/2019/01/21/Raymarching-Workshop"><img alt="raymarching workshop" src="assets/img/raymarching-02.png" /></a>
          </div>
          <div class="six columns">
            <h5>Raymarching Workshop</h5>
            <ul>
              <li>GLSL, ShaderToy</li>
            </ul>
            <p>A workshop I gave at work going over the basics of raymarching</p>
            <a class="project-link" href="/blog/2019/01/21/Raymarching-Workshop">Check it out</a>
          </div>
        </div>

    <div class="row user-projects">
      <div class="six columns images">
        <a href="/electric-square"><img alt="electric square" src="/assets/img/es-logo.jpg" /></a>
      </div>
      <div class="six columns">
        <h5>Electric Square</h5>
        <ul>
          <li>C++</li>
        </ul>
        <p>Game Programmer</p>
        <a class="project-link" href="/electric-square">Check it out</a>
      </div>
    </div>

  <!-- <div class="row user-projects">
    <div class="six columns images">
      <a href="/hexahover"><img alt="hexahover" src="/assets/img/hexahover-01.jpg" /></a>
    </div>
    <div class="six columns">
      <h5>HexaHover</h5>
      <ul>
        <li>C#, Unity</li>
      </ul>
      <p>An entry into the Ludum Dare game jam competition made with two friends in 72 hours</p>
      <a class="project-link" href="/hexahover">Check it out</a>
    </div>
  </div> -->

  <!-- <div class="row user-projects">
    <div class="six columns">
      <a href="/games/SuperMarioWorld"><img alt="super mario world" src="/assets/img/SMW_07.jpg" /></a>
    </div>
    <div class="six columns">
      <h5>Super Mario World Remake</h5>
      <ul>
        <li>Personal project</li>
        <li>C++, Box2D</li>
      </ul>
      <p>My first real game in C++, an attempt at imitating one of the most well-known games of all time</p>
      <a class="project-link" href="/games/SuperMarioWorld/">Check it out</a>
    </div>
  </div> -->

</div>
