<div class="container">
  <div class="user-details">
    <h3>Featured Projects</h3>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="render engine" src="{{ "/assets/img/render-api-01.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>API-agnostic Rendering Engine</h5>
      <ul>
        <li>Personal Project</li>
        <li>C++, Vulkan, OpenGL, D3D11</li>
      </ul>
      <p>A project focused on abstracting away the details of any particular graphics API. Currently supports Vulkan, OpenGL, and D3D11</p>
      <a class="project-link" href="/rendering-engine">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="super mario world" src="{{ "/assets/img/SMW_07.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Super Mario World Remake</h5>
      <ul>
        <li>Personal Project</li>
        <li>C++, Box2D</li>
      </ul>
      <p>My first real game in C++, an attempt at imitating one of the most well-known games of all time</p>
      <a class="project-link" href="/games/SuperMarioWorld/">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="rubiks cube simulator" src="{{ "/assets/img/rubiks-01.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Rubik's Cube Simulator</h5>
      <ul>
        <li>Personal Project</li>
        <li>C++, DX11, HLSL</li>
      </ul>
      <p>A solvable virtual Rubik’s cube made using D3D11, PhysX, and HLSL.</p>
      <a class="project-link" href="/rubiks-cube">Check it out</a>
    </div>
  </div>

</div>
