<div class="container">
  <div class="user-details">
    <h3>My Expertise</h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Languages</h4>
      <i class="devicon-cplusplus-plain-wordmark"></i>
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-java-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <p></p>
    </div>
    <div class="four columns">
      <h4>APIs</h4>
      <img class="logo" alt="OpenGL" src="/assets/img/opengl-grey.svg" height="40px"/>
      <img alt="Vulkan" src="/assets/img/vulkan-grey.svg" height="40px"/>
      <img alt="DirectX" src="/assets/img/directx.svg" height="40px"/>
      <img alt="fmod" src="/assets/img/fmod.svg" height="35px"/>
      <!-- <img alt="sfml" src="assets/img/sfml.svg" height="75px"/> -->
      <p></p>
    </div>
    <div class="four columns">
      <h4>Software</h4>
      <i class="devicons devicons-visualstudio"></i>
      <i class="devicon-sourcetree-plain-wordmark"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicons devicons-unity_small"></i>
      <img alt="unreal engine" src="assets/img/unreal-engine-4.svg" height="75px" />
      <i class="devicon-photoshop-line"></i>
      <p></p>
    </div>
  </div>
</div>
