<div class="container">
  <div class="user-details">
    <h3>My Expertise</h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Languages</h4>
      <div class="tooltip">
        <span class="tooltiptext">C++</span>
        <i class="devicon-cplusplus-plain-wordmark"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">C#</span>
        <i class="devicon-csharp-plain"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Java</span>
        <i class="devicon-java-plain"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">HTML5</span>
        <i class="devicon-html5-plain"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">CSS3</span>
        <i class="devicon-css3-plain"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">JavaScript</span>
        <i class="devicon-javascript-plain"></i>
      </div>
      <p></p>
    </div>
    <div class="four columns">
      <h4>APIs</h4>
      <div class="tooltip">
        <span class="tooltiptext">OpenGL</span>
        <img class="logo" alt="OpenGL" src="/assets/img/opengl-grey.svg" height="40px"/>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Vulkan</span>
        <img alt="Vulkan" src="/assets/img/vulkan-grey.svg" height="40px"/>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">DirectX</span>
        <img alt="DirectX" src="/assets/img/directx.svg" height="40px"/>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">FMOD</span>
        <img alt="fmod" src="/assets/img/fmod.svg" height="35px"/>
      </div>
      <!-- <img alt="sfml" src="assets/img/sfml.svg" height="75px"/> -->
      <p></p>
    </div>
    <div class="four columns">
      <h4>Software</h4>
      <div class="tooltip">
        <span class="tooltiptext">Visual Studio</span>
        <i class="devicons devicons-visualstudio"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Perforce Helix</span>
        <img alt="fmod" src="/assets/img/perforce-helix-icon.png" height="60px"></img>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Git</span>
        <i class="devicon-git-plain-wordmark"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Unity</span>
        <i class="devicons devicons-unity_small"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Unreal Engine</span>
        <img alt="unreal engine" src="assets/img/unreal-engine-4.svg" height="75px" />
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Photoshop</span>
        <i class="devicon-photoshop-line"></i>
      </div>
      <p></p>
    </div>
  </div>
</div>
